*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.logo{
    max-width: 71px 51px;
    margin: 16px 346px 16px 120px;
}

.btn{
    background-color: #30B868;
    border: none;
    max-width: 44px 164px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    margin: 24px 120px 24px 346px;
    border-radius: 4px;

}


/* main style */

nav{
    background-color: #FFFFFF;
    width: 1600px;
    height: 92px;
    padding: 16px 120px 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #30B868;
}

nav ul{
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    gap: 32px;
}

nav ul a{
    text-decoration: none;
    list-style-type: none;
}

#banner{
    width: 1600px;
    height: 674px;
    border: 2px solid rebeccapurple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

#banner .banner-content{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 72px;
}

#notes{
    width: 1600px;
    height: 448px;
    background-color: #FFFFFF;
}

#notes .notes-content h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

#notes .notes-content h2{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

main .card{
    display:flex;
}

